

.container {
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 12px 0 12px;
}


.input {
    flex: auto;
    height: 42px;
    border-radius: 4px;
    border: 1px solid pink;
    background-color: #00000000;
    font-size: 20px;
    font-weight: 700;
    padding-left: 12px;
}


.input:focus {
    outline: none;
}


.addButton {
    margin: 0 0 0 12px;
    background-color: rgba(215, 215, 215, 0.811);
    border: 0px;
    border-radius: 4px;
    height: 100%;
    cursor: pointer;
}


.addButton:hover {
    background-color:  rgba(215, 215, 215, 0.911);;
}


.title {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    padding: 0 24px 0 24px;
    height: 100%;
}